


  <mat-toolbar  >
    <mat-toolbar-row>
        
      <button mat-button [matMenuTriggerFor]="menu" class="nav-link" mat-button> <mat-icon>person</mat-icon>{{usuario}}</button>
     
      <mat-menu #menu="matMenu">
          <a href="/peticion">
        <button mat-menu-item>Mesa de Ayuda</button>
        </a>
        <a href="/seguridad/usuario/1">
        <button mat-menu-item>Seguridad</button>
        </a>
      </mat-menu>

      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">exit_to_app</mat-icon>

    </mat-toolbar-row>
  
   
  </mat-toolbar>

 
 
<div class="my-container">
  <ngx-loading [show]="loading" >
    
  </ngx-loading>

</div>

