


  <mat-toolbar class="colorblue text-white font-weigth-bold" >
    <mat-toolbar-row>
        
      <button mat-button class="nav-link" mat-button disabled class="font-weigth-bold text-white"> <mat-icon>person</mat-icon>{{usuario_sesion}}</button>
   
      <span class="example-spacer"></span>
      <a href="/login">
      <mat-icon style="color:white;" matTooltip="Cerrar Sesion">exit_to_app</mat-icon>
</a>
    </mat-toolbar-row>
  
   
  </mat-toolbar>

 <div class="example-container"> 
<div class="d-flex justify-content-around" style="padding: 12px 20% ;">
  <div class="card border-dark mb-3" style="max-width: 22rem; align-content: center;">
    <div class="card-header">
      
      <div class="d-flex justify-content-center">
      <img src="../../../assets/res/helpdesk.gif" style="max-height: 105px; max-width: 105px;align-content: flex-center;">
    </div>
    <div class="d-flex justify-content-center">

    <h5 class="card-title" style="align-content:center;">Helpdesk modules</h5> 
  
    </div>
  </div>
    <div class="card-body">
      
      <p class="card-text font-weight-bold" style="color:#0a009cc4;">Peticiones de Servicios para mesa de ayuda</p>
      <div class="d-flex justify-content-end">
      <a href="/peticion">
        <button mat-button class="font-weight-bold" style="font-size: 20px;" matTooltip="Ingresar a Helpdesk" class="btn btn-outline-dark"> Ingresar <mat-icon>input</mat-icon></button>
        </a>
      </div>
    </div>
  </div>


  <div class="card border-dark mb-3" style="max-width: 22rem; align-content: center;">
    <div class="card-header">
      
      <div class="d-flex justify-content-center">
      <img src="../../../assets/res/seguridad.gif" style="max-height: 105px; max-width: 105px;align-content: flex-center;">
    </div>
    <div class="d-flex justify-content-center">

    <h5 class="card-title" style="align-content:center;">Seguridad</h5> 
  
    </div>
  </div>
    <div class="card-body">
      
      <p class="card-text font-weight-bold" style="color:#0a009cc4;">Gestion de Usuarios y restriccion de permisos</p>
     <div class="d-flex justify-content-end">
      <a href="/seguridad/usuario/1">
        <button mat-button class="font-weight-bold" style="font-size: 20px;" matTooltip="Ingresar al modulo de Seguridad" class="btn btn-outline-dark"> Ingresar <mat-icon>input</mat-icon></button>
        </a>
      </div>
    </div>
  </div>

</div>

 
  
 </div>
 
<div class="my-container">
  <ngx-loading [show]="loading" >
    
  </ngx-loading>

</div>

