
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 40px;
}


.bg-peticion{
  background-image: url("../../../assets/res/helodesk.jpg");
  background-size: cover;
    
    }


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.colorblue{
  background-color: #0d09f083;
}
