<div>

<br>
<br>

  </div>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle >
          <mat-expansion-panel-header>
          <mat-panel-title>
            Cierre de servicio
          </mat-panel-title>
          <mat-panel-description>
         
            <mat-icon>info</mat-icon>
          </mat-panel-description>
          </mat-expansion-panel-header>
  
  <form  [formGroup]="firstFormGroup"  >

      <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            
          </div>
        </div>
        
        <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="panel panel-default" >
              <div class="panel-heading clearfix" >
                <i class="icon-calendar"></i>
              </div>

              <div class="panel-body">
                
                  <div class="row" >

                      <div class="col-lg-4 col-sm-4">
                          <div class="input-group">
                            <span class="input-group-addon"></span>
                            <mat-form-field class="example-full-width">
                              <input matInput value="{{nservicio}}" formControlName="nservicio"  placeholder="Numero de Servicio" >
                              
                            </mat-form-field>  
                          </div>
                        </div>

                  </div>
                

              </div>

            </div>

          </div>

        </div>
        
        <!-- Row start -->
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                
              </div>
              
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <mat-form-field class="example-full-width">
                        <input matInput value="{{usuario}}" placeholder="Usuario"  formControlName="observacion" value="{{usuario}}" disabled="">
                        
                      </mat-form-field>  
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <div class="input-group">
                      
                      <mat-form-field class="example-full-width">
                        <input formControlName="descripcionServicio" matInput placeholder="Descripcion del Servicio" value="{{descripcionServicio}}" >
                        
                     
                      </mat-form-field> 
                      
                      <span class="input-group-addon"></span>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-4">
                    <div class="input-group">
                      
                      <mat-form-field class="example-full-width">
                        <input formControlName="inventario" matInput placeholder="Inventario" value="{{inventario}}" >
                        
                     
                      </mat-form-field> 
                      
                      <span class="input-group-addon"></span>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <mat-form-field class="example-full-width">
                          <mat-select formControlName="estado_servicio"  placeholder="Seleccione motivo del estado sin servicio">
                            
                              <mat-option value="1" >Cinta Mal Estado</mat-option>
                              <mat-option value="2" >Finalizado</mat-option>
                              <mat-option value="3" >Pendiente</mat-option>
                              <mat-option value="4" >Cambio Pendiente</mat-option>
                              <mat-option value="5" >Volver Generar</mat-option>
                              <mat-option value="6" >Servicio Fallido</mat-option>
                              <mat-option value="7" >Terminal Mov</mat-option>
                              <mat-option value="8" >Pv Cerrado</mat-option>
                              
                            
                          </mat-select>
                          
                        </mat-form-field>  
                      
                      
                      <span class="input-group-addon"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row end -->

        <div class="col-lg-4 col-sm-4">
          <div class="input-group">
            
              <mat-form-field class="example-full-width">
      
                <mat-select placeholder="Pendiente sin Servicio" formControlName="pendiente_sinservicio" >
                <mat-option  value="1">Modem </mat-option>
                <mat-option  value="2">Router </mat-option>
                <mat-option  value="3">Mikrotik </mat-option>
                <mat-option  value="4">Soporte </mat-option>
                <mat-option  value="5">N/A </mat-option>
                <mat-option  value="6">T700 </mat-option>
                <mat-option  value="7">S90 </mat-option>
                <mat-option  value="8">Terminal Naranja </mat-option>
              </mat-select>
              
            </mat-form-field> 
            
            
            <span class="input-group-addon"></span>
          </div>
        </div>
        
        <!-- Row start -->
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                
              </div>
              
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon"></span>
                      <mat-form-field class="example-full-width">
                        <input matInput  placeholder="IMEI"  value="{{imei}}" formControlName="imei">
                        
                      </mat-form-field>  
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-4">
                      <div class="input-group">
                        <span class="input-group-addon"></span>
                        <mat-form-field class="example-full-width">
                          <input matInput  placeholder="Sim Card"  value="{{simcard}}">
                          
                        </mat-form-field>  
                      </div>
                    </div>

              
                  <div class="col-lg-4 col-sm-4">
                    <div class="input-group">
                      <span class="input-group-addon"></span>

                      <mat-form-field class="example-full-width">
                          <mat-select formControlName="operador"  placeholder="Operador">
                            <mat-option  [value]="1">
                             Claro
                            </mat-option>
                            <mat-option  [value]="1000">
                              Tigo
                            </mat-option>
                            <mat-option  [value]="1">
                              Movistar
                               </mat-option>
                               <mat-option  [value]="1000">
                                 N/A
                               </mat-option>
  
                          </mat-select>
                          
                        </mat-form-field>  
                      
                    

                      <span class="input-group-addon"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row end -->
    
      
  </form>


  <mat-action-row>
     <button mat-button color="primary" (click)="cerrarServicio()">Cerrar Servicio</button>
    
    
    </mat-action-row>


  </mat-expansion-panel>
  
  


</mat-accordion>
