<mat-card class="card1" >
 
  <legend>Cerrar Servicio</legend>
<br>
<mat-card class="card2"> 
 <mat-card-content>


<form [formGroup]="firstFormGroup" class="example-container" >

  <mat-form-field class="example-full-width" >
      <input matInput value="{{nservicio}}"  placeholder="Numero de Servicio" disabled class="text-dark font-weight-bold">

     </mat-form-field>
    

  <mat-form-field class="example-full-width">
      <textarea rows="5" cols="100" matInput formNameControl="descripcionServicio" placeholder="Descripcion" class="text-dark font-weight-bold"></textarea> 
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
      <input formControlName="pendiente_sinservicio" matInput placeholder="Pendiente sin Servicio"  >
  </mat-form-field>

  <mat-form-field class="example-full-width" >

        <mat-select placeholder= "Inventario" formControlName="inventario" class="selectcolor" >
        <mat-option  class="selectcolor"  value="1">Modem </mat-option>
        <mat-option  class="selectcolor" value="2">Router </mat-option>
        <mat-option  class="selectcolor" value="3">Mikrotik </mat-option>
        <mat-option  class="selectcolor" value="4">Soporte </mat-option>
        <mat-option  class="selectcolor" value="5">N/A </mat-option>
        <mat-option  class="selectcolor" value="6">T700 </mat-option>
        <mat-option  class="selectcolor" value="7">S90 </mat-option>
        <mat-option  class="selectcolor" value="8">Terminal Naranja </mat-option>
      </mat-select>
      
          </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput  placeholder="IMEI"   formControlName="imei">
  </mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput formControlName="simcard"  placeholder="Sim Card" >
</mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-select formControlName="operador"  placeholder="Operador">
          <mat-option  [value]="1">
           Claro
          </mat-option>
          <mat-option  [value]="2">
            Tigo
          </mat-option>
          <mat-option  [value]="3">
            Movistar
             </mat-option>
             <mat-option  [value]="0">
               N/A
             </mat-option>

        </mat-select>
            </mat-form-field>

<mat-form-field class="example-full-width">

  <mat-select formControlName="estado_servicio"  placeholder="Seleccione el estado final del servicio">
      <span class="input-group-addon"></span>
      
    
      <mat-option value="F" >Finalizado</mat-option>
      <mat-option value="P" >Pendiente</mat-option>
      <mat-option value="CP" >Cambio Pendiente</mat-option>
      <mat-option value="VG" >Volver Generar</mat-option>
      <mat-option value="SF" >Servicio Fallido</mat-option>
      <mat-option value="C" >Pv Cerrado</mat-option>

  </mat-select>


</mat-form-field>

   
</form>
  

</mat-card-content>
</mat-card>
<br>
<div class="d-flex justify-content-end">
  
  <button mat-raised-button color="primary" (click)="cerrarServicio()">Guardar</button>
</div>
  
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

</mat-card>