
  <link type="text/css" rel="stylesheet" href="../../../assets/css/materialize.min.css"  media="screen,projection"/>

<div class="example-container" >
    <mat-toolbar class="example-toolbar colorblue ">
    <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
    
   <span> {{ususario_sesion}} </span>
   <mat-icon>person</mat-icon>
    
    <span class="example-spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu"
    matBadge="1" matBadgePosition="above after" matBadgeColor="warn" matTooltip="Mostrar Notificaciones">
    <mat-icon>notification_important</mat-icon>
    </button>
   
    <mat-menu #aboveMenu="matMenu" xPosition="before" >
    <button mat-menu-item>
    <span class="text-dark">sssssssssssss {{numservicio}}</span> <span class="new badge">1</span>
    
    </button>
    <button mat-menu-item disabled>
    
    </button> 
    <button mat-menu-item>
   <span>
   </span>
    </button>
    </mat-menu>

 
 
    <button mat-icon-button routerLink="../home" matTooltip="Ir a Inicio, solo si eres Administrador">
      <mat-icon>home</mat-icon>
      
      </button>
    
    <button mat-icon-button routerLink="../login" matTooltip="Cerrar sesion">
    <mat-icon>exit_to_app</mat-icon>
    
    </button>
    </mat-toolbar>
    
    <mat-sidenav-container autosize class="example-sidenav-container" >
    <mat-sidenav #snav mode="side" opened role="region" >
    
  <!--   <a routerLink="dashboard">
    <button  mat-menu-item ><mat-icon> dashboard </mat-icon>DashBoard
    
    </button>
    
    </a> -->
    
    <mat-nav-list *ngFor="let nav of perfil_heldesk" >
    
    <button  mat-menu-item [matMenuTriggerFor]="menus" (click)="clickHandlerSubMenu(idus,nav.id)" class="colorblue  border border-info" >
    <mat-icon> {{nav.icono}} </mat-icon>{{nav.descripcion}}
    
    </button>
    
    <mat-menu #menus="matMenu"   >
    <mat-nav-list *ngFor="let op of perfil_sbheldesk" >
    <a [routerLink]="[op.acceso]" >
    <button   mat-menu-item  class="colorblue border border-info">
      <mat-icon> {{op.icono}} </mat-icon>{{op.descripcion_sbmenu}}
    </button>
    </a>
    </mat-nav-list>
    
    </mat-menu>
    
    
    
    </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content style="padding-left: 50px; padding-right: 50px; flex: 1  ">
    
    <router-outlet ></router-outlet>
    
    </mat-sidenav-content>
    
    
    
    </mat-sidenav-container>
    
    
    <div>
    
    
