
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <meta name="description" content="">
  <meta name="author" content="">


</head>

<body>
 <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">HelpDesk</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Salir</a>
        </li>
      </ul>
    </nav>

  <div class="container-fluid"> 
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
           
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span data-feather="home"></span>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>


            <li class="nav-item">
                <a class="nav-link" 
                 aria-controls="collapseExample" (click)="isCollapsed = !isCollapsed" >
              <span data-feather="shopping-cart" ></span>
              Servicios
            </a>
            <ul>
              <div id="collapseExample" [ngbCollapse]="!isCollapsed">
               <li class="nav-item">
                <a class="nav-link"  (click)="show = !show"> 
                  <span data-feather="shopping-cart" ></span>
                  Solicitud de Servicio
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="showh = !showh"  >
                  <span data-feather="shopping-cart" ></span>
                  Detalle de Servicios
                </a>
              </li>

            </div>

          </ul>

        </li>


            

  </ul>
</div>
</nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Mesa de Ayuda</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
      <!--   <button class="btn btn-sm btn-outline-secondary">Share</button> -->
        <button class="btn btn-sm btn-outline-secondary">Cerrar</button>
      </div>

    </div>
  </div>

  <!-- porcion de graficos -->

  

  <div *ngIf="show">

    <app-incidente></app-incidente>

  </div>

  <div *ngIf="showh" >

    <app-historial></app-historial>

  </div>

</main>
</div>
</div>

<div class="my-container">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  //...
</div>


</body>
</html>
