<div class="example-container" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">HelpDesk - AspSoluciones</h1>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container"
    >
    <mat-sidenav #snav mode="side" opened >
      <mat-nav-list *ngFor="let nav of perfil_heldesk">

        <button mat-button [matMenuTriggerFor]="mimenu">{{nav.descripcion}}</button>

        <mat-menu #mimenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
          <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
        </mat-menu>

    
        
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
