
 
<button type="button" class="close" aria-label="Close"mat-button [mat-dialog-close]="" cdkFocusInitial>
    <span aria-hidden="true">&times;</span>
  </button>

<fieldset>
    <mat-icon>menu_open</mat-icon>
  
<h3>Crear Sub Menu</h3>
  

  <form class="example-container" [formGroup]="firstFormGroup" >

<div class="example-container">
  
    <mat-form-field class="example-full-width" >
        <input formControlName="nombre" matInput placeholder="Nombre">
      </mat-form-field>
    


  <mat-form-field class="example-full-width" >
 <mat-select formControlName="icono"   placeholder="Seleccione su Icono">   
  <mat-option value="1"><mat-icon> headset_mic</mat-icon> </mat-option>
  <mat-option value="2"><mat-icon> attach_money </mat-icon></mat-option>
  <mat-option value="3"><mat-icon> account_balance </mat-icon></mat-option>
  <mat-option value="4"><mat-icon> build </mat-icon></mat-option>
  <mat-option value="5"><mat-icon>gavel</mat-icon></mat-option>
  <mat-option value="6"><mat-icon>people</mat-icon></mat-option>
  <mat-option value="7"><mat-icon>local_mall</mat-icon></mat-option>
  <mat-option value="9"><mat-icon>pan_tool</mat-icon></mat-option>
  <mat-option value="11"><mat-icon>security</mat-icon></mat-option>
  <mat-option value="12">      </mat-option>

  </mat-select>
  </mat-form-field>

        <mat-form-field class="example-full-width" >
      <mat-select formControlName="menu_servicio"   placeholder="Seleccione el Menu para ese Icono">   
       <mat-option value="1">Mesa de Ayuda </mat-option>
       <mat-option value="2"> Contabilidad </mat-option>
       <mat-option value="3"> Tesoreria </mat-option>
       <mat-option value="4"> Mantenimiento </mat-option>
       <mat-option value="5"> Revisoria Fiscal </mat-option>
       <mat-option value="6"> Recursos Humanos </mat-option>
       <mat-option value="7"> Comercial </mat-option>
       <mat-option value="8"> Recursos Humanos </mat-option>
       <mat-option value="9"> Auditoria </mat-option>
       <mat-option value="10"> Administracion </mat-option>
       <mat-option value="11"> Seguridad  </mat-option>
       <mat-option value="12"> </mat-option>
     
       </mat-select>
       </mat-form-field>

  <mat-form-field class="example-full-width" >
      <input formControlName="acceso" matInput placeholder="Acceso">
    </mat-form-field>
  

</div>


</form>

</fieldset>

<button (click)="guardarMenu()" mat-fab matTooltip="Guardar Sub Menu" color="primary"> <mat-icon>save</mat-icon> </button>

