
 
<button type="button" class="close" aria-label="Close"mat-button [mat-dialog-close]="" cdkFocusInitial>
    <span aria-hidden="true">&times;</span>
  </button>

<fieldset>
    <mat-icon>menu_open</mat-icon>
  
<h3>Crear Sub Menu</h3>
  

  <form class="example-container" [formGroup]="firstFormGroup" >

<div class="example-container">
  
    <mat-form-field class="example-full-width" >
        <input formControlName="nombre" matInput placeholder="Nombre">
      </mat-form-field>
    


  <mat-form-field class="example-full-width" >
 <mat-select formControlName="icono"   placeholder="Seleccione su Icono">   
    <mat-option value="add"><mat-icon>add</mat-icon> </mat-option>
    <mat-option value="person"><mat-icon>person</mat-icon></mat-option>
    <mat-option value="event"><mat-icon>event</mat-icon></mat-option>
    <mat-option value="computer"><mat-icon>computer</mat-icon></mat-option>
    <mat-option value="eco"><mat-icon>eco</mat-icon></mat-option>
    <mat-option value="payment"><mat-icon>payment</mat-icon></mat-option>
    <mat-option value="map"><mat-icon>map</mat-icon></mat-option>
    <mat-option value="attach_money">   <mat-icon> attach_money </mat-icon>  </mat-option>
    <mat-option value="account_balance"><mat-icon> account_balance    </mat-icon></mat-option>
    <mat-option value="build">          <mat-icon> build </mat-icon>   </mat-option>
    <mat-option value="gavel">          <mat-icon>gavel</mat-icon>   </mat-option>
    <mat-option value="people">         <mat-icon>people</mat-icon>   </mat-option>
    <mat-option value="local_mall">     <mat-icon>local_mall</mat-icon>   </mat-option>
    <mat-option value="pan_tool">       <mat-icon>pan_tool</mat-icon> </mat-option>
    <mat-option value="security">       <mat-icon>security</mat-icon> </mat-option>

  </mat-select>
  </mat-form-field>

        <mat-form-field class="example-full-width" >
      <mat-select disableOptionCentering formControlName="menu_servicio"   placeholder="Seleccione el Menu">   
        <mat-option [value]="menu_servicio.id" *ngFor="let menu_servicio of lista_opcion" >
            {{menu_servicio.descripcion}}

            </mat-option>
  
       </mat-select>
       </mat-form-field>

  <mat-form-field class="example-full-width" >
      <input formControlName="acceso" matInput placeholder="Acceso">
    </mat-form-field>
  

</div>


</form>

</fieldset>

<button (click)="guardarsubMenu()" mat-fab matTooltip="Guardar Sub Menu" color="primary"> <mat-icon>save</mat-icon> </button>

