
<button type="button" class="close" aria-label="Close"mat-button [mat-dialog-close]="" cdkFocusInitial>
    <span aria-hidden="true">&times;</span>
  </button>

<fieldset>
    <mat-icon>person</mat-icon>
  

  

  <form class="example-container" [formGroup]="firstFormGroup" >

<div class="example-container">

  <mat-form-field class="example-full-width" >
 <mat-select formControlName="tipo_identificacion" #fontSize value="16px"  placeholder="Seleccione Identificacion">
    
  <mat-option value="1" >Cedula Ciudadania</mat-option>
  <mat-option value="2" >Cedula Extranjeria</mat-option>
  <mat-option value="3" >NIT</mat-option>
  <mat-option value="4" >Pasaporte</mat-option>
  </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" >
    <input formControlName="identificacion" matInput placeholder="Documento">
  </mat-form-field>

  <mat-form-field class="example-full-width" >
    <input formControlName="nombre" matInput placeholder="Nombre">
  </mat-form-field>

   <mat-form-field class="example-full-width" >
    <input formControlName="apellido" matInput placeholder="Apellido">
  </mat-form-field>

  
  
  <mat-form-field class="example-full-width" >
    <mat-select formControlName="rol" placeholder="Rol">
     
      <mat-option value="1">Mesa de Ayuda</mat-option>
      <mat-option value="2">Contabilidad</mat-option>
      <mat-option value="3">Auditoria</mat-option>
      <mat-option value="4">Juridico</mat-option>
      <mat-option value="1000" >Administrador de Sistemas</mat-option>
      <mat-option value="5" >Tecnico de Sistemas</mat-option>

    </mat-select>
  </mat-form-field>

</div>


</form>

</fieldset>

<button (click)="guardar()" mat-raised-button matTooltip="Guardar Usuario" color="primary"> <mat-icon>save</mat-icon> </button>

