

<div class="container"  >
  <h2 class="display-4"> Usuarios </h2>

  <table>

    <tr>

      <td>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
        </mat-form-field>

      </td>

      <td>

        <button mat-raised-button (click)="crearUsuario()" color="primary" mat-button >Crear</button>

      </td>

    </tr>

  </table>

  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">



    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef > No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef > Name </th>
      <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef > Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef > Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>

    <ng-container matColumnDef="perfil">
      <th mat-header-cell *matHeaderCellDef > Perfil </th>
      <td mat-cell *matCellDef="let element"> {{element.perfil}} </td>
    </ng-container>

 
  	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>


<!-- <app-forma></app-forma>


<app-permisos-formas-asignadas></app-permisos-formas-asignadas> -->

