

<div class="container"  >
  <h2 class="display-4"> Usuarios </h2>

  <table>

    <tr>

      <td>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
        </mat-form-field>

      </td>

      <td>

        <button mat-fab (click)="crearUsuario()" mat-fab matTooltip="Crear Usuario"  mat-fab color="primary">
          <mat-icon>person_add</mat-icon>
        </button>

      </td>

    </tr>

  </table>

  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef > No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef > # Documento</th>
      <td mat-cell *matCellDef="let element"> {{element.documento}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef > Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef > Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef > Editar </th>
      <td mat-cell *matCellDef="let element">
         <a routerLink="./editar-usuario/{{element.documento}}"> <button mat-menu-item> <mat-icon> edit </mat-icon></button> </a> </td>
    </ng-container>

    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                       >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
               >
          </mat-checkbox>
        </td>
      </ng-container>
          
  	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[6, 10, 20]" showFirstLastButtons></mat-paginator>

</div>


<!-- <app-forma></app-forma>


<app-permisos-formas-asignadas></app-permisos-formas-asignadas> -->

