

    <style>
        div.fixed {
          position: fixed;
          bottom: 120px;
          right: 150px;
          width: 250px;

        }
        </style>

			<nav>
					<a routerLink="../../">Seguimiento</a> | 
			
				</nav>

				<mat-accordion class="example-headers-align">
					<mat-expansion-panel [expanded]="step === 0"  hideToggle >
					  <mat-expansion-panel-header>
						<mat-panel-title>
						  Informacion de Servicio
						</mat-panel-title>
						<mat-panel-description>
						  Detalle del Servicio
						  <mat-icon>info</mat-icon>
						</mat-panel-description>
					  </mat-expansion-panel-header>

							<!-- <mat-form-field class="full-width-field">
							<textarea  matInput formNameControl="detalleCSA" placeholder="Detalle del Tecnico" disabled></textarea>
							</mat-form-field>
									 -->
								
	
		
		<form  [formGroup]="firstFormGroup" class="example-container"  >

					<div class="row" >
						<div class="col-md-12 col-sm-12 col-xs-12" >
							<div class="panel panel-default" >
								<div class="panel-heading clearfix" >
									<i class="icon-calendar"></i>
								</div>
	
								<div class="panel-body">
									
										<div class="row" >

												<div class="col-lg-4 col-sm-4">
													<div class="input-group">
													  <span class="input-group-addon"></span>
													  <mat-form-field class="example-full-width">
														<input matInput  formControlName="numservicio" value="{{numservicio}}" placeholder="Numero de Servicio" [attr.disabled]="true">
														
													  </mat-form-field>  
													</div>
												  </div>
								
											</div>
								</div>
	
							</div>
	
						</div>
	
					</div>
					
					<!-- Row start -->
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<i class="icon-calendar"></i>
									
								</div>
								
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-4 col-sm-4">
											<div class="input-group">
												<span class="input-group-addon"></span>
												<mat-form-field class="example-full-width">
													<input matInput  placeholder="Fecha Apertura" formNameControl="Fecha Apertura"  disabled>
													
												</mat-form-field>  
											</div>
										</div>
										<div class="col-lg-4 col-sm-4">
											<div class="input-group">
												
												<mat-form-field class="example-full-width">
													<input  matInput placeholder="Tecnico Responsable" formNameControl="tecnico" value="{{tecnico}}" disabled  >
													
												</mat-form-field> 
												
												<span class="input-group-addon"></span>
											</div>
										</div>
									
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->
					
					
					<!-- Row start -->
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading clearfix">
									<i class="icon-calendar"></i>
									
								</div>
								
								<div class="panel-body">
									<div class="row">
										<div class="col-lg-4 col-sm-4">
											<div class="input-group">
												<span class="input-group-addon"></span>
												<mat-form-field class="example-full-width">
													<input matInput  placeholder="Sucursal" formNameControl="sucursal" value="{{sucursal}}"  disabled>
													
												</mat-form-field>  
											</div>
										</div>
										<div class="col-lg-4 col-sm-4">
											<div class="input-group">
												
													<mat-form-field class="example-full-width">
									
                            <input matInput  placeholder="Identificacion" formNameControl="identificacion" value="{{identificacion}}" disabled>
													
												</mat-form-field> 
												
												
												<span class="input-group-addon"></span>
											</div>
										</div>
									
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Row end -->
	
	
					<!-- Row start -->
					<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading clearfix">
										<i class="icon-calendar"></i>
										
									</div>
									
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-4 col-sm-4">
												<div class="input-group">
													<span class="input-group-addon"></span>
													
													<mat-form-field class="example-full-width">
									
														<input matInput   placeholder="Direccion" formNameControl="direccion" value="{{direccion}}" disabled>
														
													</mat-form-field>
	
												</div>
											</div>
											<div class="col-lg-4 col-sm-4">
												<div class="input-group">
													
													
													<mat-form-field class="example-full-width">
															<input matInput  placeholder="Asunto" formNameControl="asunto" value="{{asunto}}" disabled>
															
													</mat-form-field>
													
													<span class="input-group-addon"></span>
												</div>
											</div>
										
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->
					
					
										<!-- Row start -->
					<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="panel panel-default">
									<div class="panel-heading clearfix">
										<i class="icon-calendar"></i>
										
									</div>
									
									<div class="panel-body">
										<div class="row">
											<div class="col-lg-4 col-sm-4">
												<div class="input-group">
													<span class="input-group-addon"></span>
													
													<mat-form-field>
															<textarea rows="5" value="" disabled cols="100" matInput formNameControl="obs" value="{{obs}}" placeholder="Observacion"></textarea>
														</mat-form-field>
	
												</div>
											</div>
											<div class="col-lg-4 col-sm-4">
												<div class="input-group">
													
														<mat-form-field class="example-full-width">
																<input matInput placeholder="Estado" formNameControl="" disabled>
																
														</mat-form-field>
												
													
													<span class="input-group-addon"></span>
												</div>
											</div>
											<div class="col-lg-4 col-sm-6 alineando">
												<div class="fixed">
                            <qrcode [qrdata]="soypipe" [size]="256" [level]="'M'"></qrcode>
                          
											</div>

							</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Row end -->

						
		</form>
			
			
		<mat-action-row>
			<button mat-button color="primary"  >Guardar</button>
			
			
		  </mat-action-row>



		</mat-expansion-panel>




	</mat-accordion>

