<script src="sweetalert2/dist/sweetalert2.all.min.js"></script>

<!-- Include a polyfill for ES6 Promises (optional) for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill9/dist/polyfill.js"></script>

<script src="sweetalert2/dist/sweetalert2.min.js"></script>
    <style>
        div.fixed {
          position: fixed;
          bottom: 120px;
          right: 150px;
          width: 250px;

        }
        </style>

			<nav>
					<a routerLink="../../">Seguimiento</a> 
			
				</nav>


<mat-card class="card1" >
 
    <legend>Informacion del Servicio</legend>
  <br>
  <mat-card class="card2"> 
   <mat-card-content>
  
  
  <form [formGroup]="firstFormGroup" class="example-container" >
  
    <mat-form-field class="example-full-width">
        <input matInput  value="{{numservicio}}" placeholder="Numero de Servicio" disabled class="text-dark font-weight-bold">
        <input matInput  placeholder="Fecha Apertura"  value="{{fechaapertura}}" disabled class="text-dark font-weight-bold">

       </mat-form-field>
      
  
    <mat-form-field class="example-full-width">
        <input  matInput placeholder="Tecnico Responsable"  value="{{tecnico}}" disabled  class="text-dark font-weight-bold" >
        <input matInput  placeholder="Identificacion"	 value="{{identificacion}}" disabled class="text-dark font-weight-bold">

    </mat-form-field>
   
 
  
    <mat-form-field class="example-full-width" >

        <textarea rows="5" value="" disabled cols="100" matInput formNameControl="asunto" value="{{asunto}}" placeholder="Asunto" class="text-dark font-weight-bold"></textarea>

        <input matInput   placeholder="Direccion" formNameControl="direccion" value="{{direccion}}" disabled class="text-dark font-weight-bold">

        
            </mat-form-field>
  
      <mat-form-field class="example-full-width">
        <textarea rows="5" value="" disabled cols="100" matInput formNameControl="obs" value="{{obs}}" placeholder="Observacion" class="text-dark font-weight-bold"></textarea>
        
        <input matInput placeholder="Estado" value="A" disabled class="text-dark font-weight-bold" >

      </mat-form-field>
  

  
     
  </form>
    
  
  </mat-card-content>
  </mat-card>
  <br>
  <div class="d-flex justify-content-end">
    
    <button mat-raised-button color="primary" (click)="cerrarServicio()">Guardar</button>
  </div>
    
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  
  </mat-card>