

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
       
  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
         <!--    <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a> -->
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Bienvenido a nuestro Portal MultiServicios</h1>
        <p class="lead">Este portal es para la gestion de servicios, consultas y estadisitcas de los procesos de Supergiros.</p>
          
          <a href="/home" class="btn btn-lg btn-secondary">Ingresar</a>
          
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Desarrollado por <a href="https://getbootstrap.com/">Andres Palencia Florez</a> ,<a href="https://twitter.com/mdo">@pelso89</a>.</p>
        </div>
      </footer>
    </div>

