<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V3</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('../assets/res/sgirosfondo.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" [formGroup]="loginForm">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Ingresa tu nombre de usuario">
						<mat-icon>person</mat-icon>
					
                    <input type="text" class="form-control colorbg" placeholder="Usuario" formControlName="usuario">
				
					</div>

					<div class="wrap-input100 validate-input" data-validate="Ingresa la contraseña">
						<mat-icon>lock</mat-icon>
               <input type="password" class="form-control colorbg" placeholder="Contraseña" formControlName="clave">
					</div>

					<div class="form-check">
						<label class="form-check-label">
						  <input type="checkbox" class="form-check-input">
						  <small  class="text-light">Recuerdame </small>
						  <small></small>
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" (click)="onSubmit()">
							Ingresar
            </button>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

					</div>

				
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>

</body>
</html>