

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
       
  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"></h3>
          <nav class="nav nav-masthead justify-content-center">
         <!--    <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a> -->
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Plataforma de Servicios</h1>
        <p class="lead">Powered By</p>
          
          
          
        
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p> <a href="https://getbootstrap.com/">Andres Palencia Florez</a> ,<a href="https://twitter.com/mdo">@pelso89</a>.</p>

        
           <button matTooltip="Ingresar Usuario y Contraseña" mat-raised-button (click)="openDialog()">Acceder</button>


        </div>
          <span class="version-info">Current build: {{version.full}}</span>
      </footer>
    </div>

