<mat-card class="example-card">
	    <style>
				div.fixed {
				  position: fixed;
				  bottom: 450px;
				  right: 35px;
				  width: 30px;
				  z-index: 100;

				}
				div.fix {
				  position: fixed;
				  bottom: 400px;
				  right: 35px;
				  width: 30px;
				  z-index: 100;

				}
				</style>
		
		  <div class="fixed">
				<button mat-mini-fab color="primary" matTooltip="Filtrar Todos" (click)="filtrarTodos($event)"><mat-icon>filter_list</mat-icon></button>
			</div>

				<div class="fix">
				<button mat-mini-fab color="primary" matTooltip="Exportar a Excel" (click)="exportarExcel()"><mat-icon>save_alt</mat-icon></button>	
			</div>	
	

					 
						

						
			
  <mat-card-content>

    <fieldset>
    <legend>Servicios Generadas (Asignaciones)</legend>
		<form  [formGroup]="">
		
			<table> 
				<tr>

						<td>

								<mat-form-field>
									<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
								  </mat-form-field>
						
						
							</td>

					<td>
						<mat-form-field class="example-full-width">
							<input matInput [matDatepicker]="picker1"  placeholder="Fecha Inicial">
							<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
							<mat-datepicker touchUi #picker1></mat-datepicker>
						</mat-form-field>  

					</td>

					<td>

						<mat-form-field class="example-full-width">
							<input matInput [matDatepicker]="picker2"  placeholder="Fecha Final">
							<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
							<mat-datepicker touchUi #picker2></mat-datepicker>
						</mat-form-field>


					</td>

					<td>

					

					</td>

					<td>

						<mat-form-field class="">

							<mat-select (selectionChange)="filtroEstado(2,$event.value)" placeholder="Estado Servicio">
								
								
									<mat-option value="C"> Creado</mat-option>
									<mat-option value="A"> Asignado</mat-option>
									<mat-option value="F" >Finalizado</mat-option>
									<mat-option value="P" >Pendiente</mat-option>
									<mat-option value="CP" >Cambio Pendiente</mat-option>
									<mat-option value="VG" >Volver Generar</mat-option>
									<mat-option value="SF" >Servicio Fallido</mat-option>
								
								</mat-select>

						</mat-form-field>

						
						
					</td>


				</tr>
			</table>

			<mat-paginator [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons></mat-paginator>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<ng-container matColumnDef="servicio">
				<th mat-header-cell *matHeaderCellDef> No. </th>
				<td mat-cell *matCellDef="let element"> {{element.num_servicio}} 
				<span *ngIf="element.estado === 'C' " class="badge badge-primary">Nuevo</span>
			</td>
			<button mat-raised-button color="primary"
			matBadge="8" matBadgePosition="before" matBadgeColor="accent">
		Action
	</button>
	
			  </ng-container>


		<ng-container matColumnDef="asunto">
				<th mat-header-cell *matHeaderCellDef> Asunto </th>
				<td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
			  </ng-container> 
	



	  

		  <mat-form-field class="">

			<mat-select (selectionChange)="filtroTipoServicio(1,$event.value)" placeholder="Tipo de Servicio">
				<mat-option  [value]="10">
					Aplicaciones
				</mat-option>
				<mat-option  [value]="20">
					Comunicaciones
				</mat-option>

				<mat-option  [value]="30">
					Infraestructura
				</mat-option>
			</mat-select>

		</mat-form-field>
		
	
		  
		
		  <!-- Weight Column -->
		 <!--  <ng-container matColumnDef="solicitante">
			<th mat-header-cell *matHeaderCellDef> Solicitante </th>
			<td mat-cell *matCellDef="let element"> {{element.identificacion_solictante}} </td>
		  </ng-container> -->
		
		  <!-- Symbol Column -->
		  <ng-container matColumnDef="direccion">
			<th mat-header-cell *matHeaderCellDef> Direccion </th>
			<td mat-cell *matCellDef="let element"> {{element.direccion_servicio}} </td>
		  </ng-container>
		
		  <ng-container matColumnDef="fecha">
			<th mat-header-cell *matHeaderCellDef> Fecha </th>
			<td mat-cell *matCellDef="let element"> {{element.fechaser}} </td>
			</ng-container>
			
			
			<ng-container matColumnDef="solicitante">
					<th mat-header-cell *matHeaderCellDef> ID solicitante </th>
					<td mat-cell *matCellDef="let element"> {{element.identificacion_solictante}} </td>
					</ng-container>

					<ng-container matColumnDef="estado">
							<th mat-header-cell *matHeaderCellDef> Estado </th>
							<td mat-cell *matCellDef="let element"> {{element.estado}} </td>
							</ng-container>

							<ng-container matColumnDef="obs">
									<th mat-header-cell *matHeaderCellDef> Descripcion </th>
									<td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
									</ng-container>

  	<ng-container matColumnDef="descripcion">

  		<th mat-header-cell *matHeaderCellDef>Ver Incidencia</th>
  		<td mat-cell *matCellDef="let element" >
  		<a routerLink="./detalle/{{element.num_servicio}}"> <button mat-menu-item matTooltip="Acceder al servicio"> <mat-icon>description</mat-icon></button></a>
  		</td>
  	</ng-container>

  	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		
		

  </table>

</form>

</fieldset>

</mat-card-content>

</mat-card>




