
<body class="bg-light">

  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand mr-auto mr-lg-0" href="/"></a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

          <a routerLink="./notificaciones" > 
          <button class="nav-link"mat-button ><mat-icon>build</mat-icon>Configurar Notificaciones </button>
          
          </a>


        <a routerLink="./perfil/1" > 
          
      <button class="nav-link" mat-button ><mat-icon>perm_identity</mat-icon>Perfil</button>
       </a>

        <button class="nav-link" mat-button [matMenuTriggerFor]="menu"><mat-icon>assignment_ind</mat-icon>Administrar</button>
			<mat-menu #menu="matMenu">
  			<a routerLink= "Item0">
          <button mat-menu-item> Item 0 </button>
        </a>

        <div><br></div>

  			<a routerLink="./usuario/1" > 
  			<button mat-menu-item> Gestión de Usuarios</button>
  			</a>

      <a routerLink="./formas/2" > 
        <button mat-menu-item> Gestión de Permisos</button>
      </a>

			</mat-menu>


      </ul>

    
      <a href="/home">
        <button  mat-icon-button matTooltip="Ir a inicio"> <mat-icon>home</mat-icon> </button>
      </a>
     
      <a href="/inicio">
        <button  mat-icon-button matTooltip="Cerrar sesión"> <mat-icon>exit_to_app</mat-icon> </button>
      </a>


    </div>
  </nav>

		   
<div class="jumbotron jumbotron-fluid">
  <div class="container" >
 
   		<router-outlet > </router-outlet>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  </div>
</div>

<div class="my-container">
	

</div>

