<mat-card class="card1" >
 
  <legend>Registrar Tecnico</legend>
<br>
<mat-card class="card2"> 
 <mat-card-content>


<form [formGroup]="firstFormGroup" class="example-container" >

  <mat-form-field class="example-full-width" >
    <mat-select formControlName="tipo_identificacion" #fontSize value="16px" #input  placeholder="Seleccione Identificacion">
       
     <mat-option value="1" >Cedula Ciudadania</mat-option>
     <mat-option value="2" >Cedula Extranjeria</mat-option>
     <mat-option value="3" >NIT</mat-option>
     <mat-option value="4" >Pasaporte</mat-option>
     </mat-select>
     </mat-form-field>
    

  <mat-form-field class="example-full-width">
    <input formControlName="documento" matInput #input maxlength="12" #input placeholder="Documento"  >
  </mat-form-field>
 
  <mat-form-field class="example-full-width">
    <input formControlName="nombre" matInput #input  placeholder="Nombre"  >
  </mat-form-field>

  <mat-form-field class="example-full-width" >
      <input formControlName="apellido" matInput #input placeholder="Apellido">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input formControlName="celular" matInput #input    placeholder="Celular Corporativo" >
    </mat-form-field>

<mat-form-field class="example-full-width">
      <input formControlName="personal" matInput #input    placeholder="Celular Personal" >
    </mat-form-field>

  <mat-form-field class="example-full-width">
    <input formControlName="extension" matInput #input    placeholder="extension" >
  </mat-form-field>

  
  <mat-form-field class="example-full-width" >
      <mat-select formControlName="rol" #fontSize value="16px"  placeholder="Seleccione su Rol">
         
       <mat-option value="3" >Tecnico Mesa de Ayuda</mat-option>
       <mat-option value="4" >Tecnico Externo</mat-option>


       </mat-select>
       </mat-form-field>

   
</form>
  

</mat-card-content>
</mat-card>
<br>
<div class="d-flex justify-content-end">
  
  <button mat-button  mat-raised-button color="primary" (click)="onSubmit()" style="right:15px;">Guardar</button>
</div>
  
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

</mat-card>