<div class="container"  >
    <h1 class="display-4"> Permisos de Usuario </h1>

    <table>

    <tr>

      <td>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
</mat-form-field>

</td>

<td>

<button mat-fab	 color="primary" (click)="crearForma()" matTooltip="Crear Menu"mat-button ><mat-icon>menu</mat-icon></button>

</td>

<td>

  <button mat-fab	 color="primary" (click)="crearSubmenu()" matTooltip="Crear SubMenu"  mat-button ><mat-icon>menu_open</mat-icon></button>

</td>

<td>
    <a routerLink="./asignarMenu">
    <button mat-fab	 color="primary"  matTooltip="Asignar Modulo a Usuario SubMenu"  mat-button ><mat-icon>assignment</mat-icon></button>
  </a>
  </td>
</tr>

</table>



<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

 
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="icono">
    <th mat-header-cell *matHeaderCellDef> Simbolo </th>
    <td mat-cell *matCellDef="let element"> {{element.icono}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>


