
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="example-container">
        <ng-template matStepLabel>Identificate</ng-template>

   
        <mat-form-field class="example-full-width">
          <mat-select formControlName="solicitante" placeholder="Tipo Solicitante">
              <mat-option  [value]="0">Seleccione</mat-option>
            <mat-option  [value]="1">
              Vendedor
            </mat-option>
            <mat-option  [value]="2">
              Lider
            </mat-option>
            
            <mat-option  [value]="3">
              Administrativo
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input formControlName="cedula"  (keydown.enter)="$event.preventDefault();buscarPersona($event)"  required matInput #input maxlength="13"  placeholder="N. Identificacion">
          <mat-hint align="end">{{input.value?.length || 0}}/14</mat-hint>
          
        </mat-form-field>

        <mat-form-field class="example-full-width" >
          <input formControlName="nombres" value="{{ nombres }}" matInput #input  placeholder="Nombre Solicitante">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="idpunto" (keydown.enter)="$event.preventDefault();buscarPV($event);"  value = "{{idpunto}}"  matInput   placeholder="Punto de Venta">
          <mat-hint align="end">{{input.value?.length || 0}}/4</mat-hint>
        
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="sucursal"  value = "{{sucursal}}"  matInput   placeholder="Sucursal">
        </mat-form-field>

          <mat-form-field class="example-full-width">
            <input  size="30" formControlName="direccion" value="{{direccion}}" background="#673ab7" matInput placeholder="Direccion de Servicio"  >
          </mat-form-field>


        <div>
          <button mat-flat-button color="#1DE9B6" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="example-container">
        <ng-template matStepLabel>Situacion Problema</ng-template>

        <mat-form-field class="example-full-width">
          <mat-select formControlName="recepcion" placeholder="Tipo de Solicitud">
              <mat-option  [value]="0">Seleccione</mat-option>
            <mat-option  [value]="1">
              Soporte Tecnico
            </mat-option>
            <mat-option  [value]="2">
              Servicio Seguridad
            </mat-option>
            
          </mat-select>
        </mat-form-field>
        

        <mat-form-field class="example-full-width">
          <mat-select   disableOptionCentering formControlName="asunto" placeholder="Tipo Asunto">
            <mat-option  [value]="0">Seleccione el Asunto </mat-option>
            
            <mat-option [value]="asunto.id" *ngFor="let asunto of asuntos"> {{asunto.descripcion}}
              

            </mat-option>
           
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
        <textarea matInput formControlName="obs"
        placeholder="Escribenos tu problema" 
        cdkAutosizeMinRows="7"
        cols="150"
        rows="6"
        cdkAutosizeMaxRows="7">
      </textarea>
      </mat-form-field>

      <label for="file">Seleccione Archivo</label>
      <input type="file"
      
             id="file"
             (change)="handleFileInput($event)">
  
             <button mat-button mat-raised-button color="primary" (click)="uploadFileToActivity()">Subir</button>
      

      <br>
      <br>

        <div>
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button mat-raised-button color="#1DE9B6" (click)="onSubmit()">Guardar</button>
        </div>
      </form>
    </mat-step>
   
  </mat-horizontal-stepper>   

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>