<mat-card class="example-card">

  <mat-card-content>

    <fieldset>
    <legend>Registro Solicitud</legend>

    <form  [formGroup]="firstFormGroup">

            <table>
        <tr>

<td>
  
      <mat-form-field class="example-full-width">
        <input matInput [matDatepicker]="picker" formControlName="firstCtrl" required placeholder="Seleccione fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

</td>


<tr>

  <td>

      <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipo Solicitante">
          <mat-option  [value]="1">
            Vendedor
          </mat-option>
                    <mat-option  [value]="2">
            Lider
          </mat-option>

                    <mat-option  [value]="3">
            Administrativo
          </mat-option>
        </mat-select>
      </mat-form-field>


  </td>


  </tr>

    

    <tr>
          <td>
            <mat-form-field >
              <input formControlName="firstCtrl" required matInput #input maxlength="11"  placeholder="N. Identificacion">
              <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>

            </mat-form-field>
          </td>

          <td>
           <mat-form-field>
            <input formControlName="firstCtrl" required matInput #input  placeholder="Sucursal">
          </mat-form-field>
        </td>

        <td>

          <mat-radio-group>
            <mat-radio-button value="1">Fijo 
              <br></mat-radio-button>
              <mat-radio-button value="2">Movil</mat-radio-button>
            </mat-radio-group>

          </td>

        </tr>

        <tr>



          <mat-form-field>
           <input formControlName="firstCtrl" required  matInput #input  placeholder="Nombre Solicitante">
         </mat-form-field>



       </tr>

       <tr>

        <td>

       <mat-form-field class="example-full-width">
        <mat-select placeholder="Tipo de Solicitud">
          <mat-option  [value]="1">
            Telefonica
          </mat-option>
        </mat-select>
      </mat-form-field>

    </td>

    <td>

      <mat-form-field>
        <input  size="30" background="#673ab7" required matInput placeholder="Direccion de Servicio"  required>
      </mat-form-field>


    </td>

    </tr>

    <tr>
        
        <td>
         
          <textarea matInput
            placeholder="Escribenos tu problema" 
            cdkAutosizeMinRows="7"
            cols="100"
            rows="6"
            cdkAutosizeMaxRows="7"></textarea>

        </td>


    </tr>

    <button mat-flat-button matTooltip="Genera tu servicio al instante" color="primary">Guardar</button>

    </table>

  </form>

</fieldset>

</mat-card-content>

</mat-card>
