
<fieldset>

  <legend>Crear Forma</legend>

  <form>

<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Codigo">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nombre">
  </mat-form-field>

    <mat-form-field>
    <input matInput placeholder="Descripcion">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Tipo">
      <mat-option value="option">FORMAS FORM APPGANAR</mat-option>
    </mat-select>
  </mat-form-field>
</div>

</form>

</fieldset>
