
<div class="container"  >
  <h1 class="display-4 "> Permisos para el usuario  </h1>
<br>

  <table>

    <tr>

      <td>

        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda">
        </mat-form-field>

      </td>

      <td>

        <button mat-fab	 color="primary"  matTooltip="Eliminar Asignaciones para este usuario"mat-button ><mat-icon>clear</mat-icon></button>
        
        </td>

    </tr>

  </table>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id_menu">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id_menu_ppal}} </td>
    </ng-container>


    <ng-container matColumnDef="descripcion_menu">
      <th mat-header-cell *matHeaderCellDef> Nombre del menú </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion_menu}} </td>
    </ng-container>

    <ng-container matColumnDef="id_submenu">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id_menu_secundario}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion_submenu">
      <th mat-header-cell *matHeaderCellDef> Nombre del  Sub menú </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion_menu_secun}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

 <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                       >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
               >
          </mat-checkbox>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>





</div>