<h3>
  ASIGNAR MENU
</h3>

<style>
.h3{
  color:blueviolet
};

</style>

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle > 
    <mat-expansion-panel-header>

    <mat-panel-title>
      Menu de Servicios
    </mat-panel-title>
    <mat-panel-description>
      <mat-icon>menu</mat-icon>
    </mat-panel-description>

  

    </mat-expansion-panel-header>

    <mat-selection-list>
        <h3 matSubheader>Lista de Menus</h3>
       
           <mat-list-option> Mesa de Ayuda<mat-icon>headset_mic</mat-icon> </mat-list-option>
           <mat-list-option> Contabilidad <mat-icon> attach_money</mat-icon> </mat-list-option>
           <mat-list-option> Tesoreria<mat-icon> account_balance </mat-icon> </mat-list-option>
           <mat-list-option> Mantenimiento<mat-icon> build </mat-icon> </mat-list-option>
           <mat-list-option> Revisoria Fiscal<mat-icon>gavel</mat-icon> </mat-list-option>
           <mat-list-option> Comercial<mat-icon>local_mall</mat-icon> </mat-list-option>
           <mat-list-option> Recursos Humanos<mat-icon>people</mat-icon> </mat-list-option>
           <mat-list-option> Auditoria<mat-icon>pan_tool</mat-icon> </mat-list-option>
           <mat-list-option> Administracion<mat-icon>people</mat-icon> </mat-list-option>
           <mat-list-option> Seguridad<mat-icon>security</mat-icon></mat-list-option>
           
           <mat-action-row>
              <button mat-fab color="primary" (click)="usarMenu()" matTooltip="Asignar Menu" ><mat-icon>assignment</mat-icon></button>
              </mat-action-row>
       
     </mat-selection-list>





  </mat-expansion-panel>



<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle > 
    <mat-expansion-panel-header>
    <mat-panel-title>
     Sub-Menu de Servicios
    </mat-panel-title>
    <mat-panel-description>
      
      <mat-icon>menu_open</mat-icon>
    </mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
