
    <style>
			div.fixed {
			  position: fixed;
			  bottom: 120px;
			  right: 30px;
			  width: 100px;
	
			}
			</style>
	
	  <div class="fixed">	
		  
		
		
		
	  </div>
		
		    <nav>
				<a routerLink="../../">Seguimiento</a> | 
				<a routerLink="./historialsolicitud">Historial de Sucursal</a>
			</nav>
			<br>
                     <h4> 	Detalle del Servicio     
  		      
				</h4>
					<br>
				
	
	<form  [formGroup]="firstFormGroup"   class="example-container">

		<mat-form-field class="example-full-width">
	<input matInput value="{{nservicio}}"  placeholder="Numero de Servicio" disabled >
															
     </mat-form-field>  
	 <div class="input-group">
					<mat-form-field class="example-full-width">
					<input matInput  placeholder="Fecha Apertura" value="{{fecha_apertura}}"  disabled >
												
					</mat-form-field>  
								
	 </div>			
										
					<mat-form-field class="example-full-width">
					<input matInput value="{{solicitante}}"  placeholder=" ID Solicitante" disabled>			
					</mat-form-field>
										
					<mat-form-field class="example-full-width">
						<input matInput value="{{nombresolicitante}}"  placeholder=" Nombre del Solicitante" disabled>			
						</mat-form-field>
											

				
												<mat-form-field class="example-full-width text-dark" class="text-dark">
								
													<mat-select placeholder="Asunto">
													<mat-option  value="{{id_asunto}}"  >
														{{asunto}}
													</mat-option>
												</mat-select>
												
											</mat-form-field> 
											
											
										

											<mat-form-field class="example-full-width text-dark">
												
												<mat-select formControlName="tservicio" formName placeholder="Tipo de Servicio" class="text-dark">
													<mat-option  [value]="1">
														Aplicaciones
													</mat-option>
													<mat-option  [value]="2">
														Comunicaciones
													</mat-option>
													
													<mat-option  [value]="3">
														Infraestructura
													</mat-option>
												</mat-select>
												
											</mat-form-field>
											
								
												
												<mat-form-field class="example-full-width text-dark">
								
														<mat-select formControlName="prioridad" placeholder="Prioridad">
														<mat-option  [value]="1">
															Alta
														</mat-option>
														<mat-option  [value]="2">
															Medio
														</mat-option>
						
														<mat-option  [value]="3">
															Baja
														</mat-option>
						
													</mat-select>
													
												</mat-form-field>

												
						
											
												
												<mat-form-field class="example-full-width text-dark">
								
														<mat-select  formControlName="identificacion"  disableOptionCentering  placeholder="Seleccionar Tecnico">
															<mat-option  [value]="0">Seleccione el Tecnico </mat-option>
															<mat-option  [value]="tecnico.identificacion" *ngFor= "let tecnico of tecnicos" > {{tecnico.nombre || tecnico.apellido}} 

															</mat-option>

														</mat-select>
													
											</mat-form-field>
	
												
												<mat-form-field>
														<textarea rows="5" value="{{obs}}" disabled cols="100" matInput placeholder="Observacion"></textarea>
													</mat-form-field>

											
													<mat-form-field class="example-full-width text-dark">
															<input matInput value="{{estado}}"  placeholder="Estado" disabled="">
															
													</mat-form-field>
											
		

	</form>
		

	<form [formGroup]="secondFormGroup" class="example-container">

						<mat-form-field >
						<textarea formControlName="obs_tecnica" rows="5" cols="600" matInput placeholder="Observacion Tecnica"></textarea>
						</mat-form-field>


						


	</form>

	

	<mat-action-row>

			
					  <div class="row">
							<div class="col-md-4">
								</div>
								<div class="col-md-2"></div>
						  <div class="col-md-2">
							
			<button type="button" mat-button class="btn btn-primary" (click)="submitea()" matTooltip="Asignar Menu y Observacion" > Guardar </button>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
					  
	
						  </div>
						  <div class="col-md-2">
<a routerLink="./cerrarservicio" >
	<button mat-button type="button" class="btn btn-warning"
	 matTooltip="Ir a Cerrar Servicio">Ir a Cerrar Servicio</button>
   </a>
</div>
</div>



</mat-action-row>
	



