
<style>
	div.fixed {
	  position: fixed;
	  bottom: 350px;
	  right: 40px;
	  width: 30px;

	}
	
	</style>

<div class="fixed">
	<button mat-fab color="primary" (click)="submitea()" matTooltip="Guardar" ><mat-icon>save</mat-icon></button>
</div>

	


			<nav>
				<a routerLink="../../">Seguimiento</a> | 
				<a routerLink="./historialsolicitud">Historial de Sucursal</a>
			</nav>
			
					<mat-card class="example-card">

	<mat-horizontal-stepper [linear]="isLinear" #stepper>
  		<mat-step [stepControl]="firstFormGroup">
	
	<form  [formGroup]="firstFormGroup"   class="example-container">
			<ng-template matStepLabel>Resumen Servicio</ng-template>

		<mat-form-field class="example-full-width">
	<input matInput value="{{nservicio}}"  placeholder="Numero de Servicio" disabled >
															
     </mat-form-field>  
	 <div class="input-group">
					<mat-form-field class="example-full-width">
					<input matInput  placeholder="Fecha Apertura" value="{{fecha_apertura}}"  disabled >
												
					</mat-form-field>  
								
	 </div>			
										
					<mat-form-field class="example-full-width">
					<input matInput value="{{solicitante}}"  placeholder=" ID Solicitante" disabled>			
					</mat-form-field>
										
					<mat-form-field class="example-full-width">
						<input matInput value="{{nombresolicitante}}"  placeholder=" Nombre del Solicitante" disabled>			
						</mat-form-field>
											

				
												<mat-form-field class="example-full-width text-dark" class="text-dark">
								
													<mat-select placeholder="Asunto">
													<mat-option  value="{{id_asunto}}"  >
														{{asunto}}
													</mat-option>
												</mat-select>
												
											</mat-form-field> 
											
											
										

											<mat-form-field class="example-full-width text-dark">
												
												<mat-select formControlName="tservicio" formName placeholder="Tipo de Servicio" class="text-dark">
													<mat-option  [value]="1">
														Aplicaciones
													</mat-option>
													<mat-option  [value]="2">
														Comunicaciones
													</mat-option>
													
													<mat-option  [value]="3">
														Infraestructura
													</mat-option>
												</mat-select>
												
											</mat-form-field>
											
								
												
												<mat-form-field class="example-full-width text-dark">
								
														<mat-select formControlName="prioridad" placeholder="Prioridad">
														<mat-option  [value]="1">
															Alta
														</mat-option>
														<mat-option  [value]="2">
															Medio
														</mat-option>
						
														<mat-option  [value]="3">
															Baja
														</mat-option>
						
													</mat-select>
													
												</mat-form-field>

												
						
											
												
												<mat-form-field class="example-full-width text-dark">
								
														<mat-select  formControlName="identificacion"  disableOptionCentering  placeholder="Seleccionar Tecnico">
															<mat-option  [value]="0">Seleccione el Tecnico </mat-option>
															<mat-option  [value]="tecnico.identificacion" *ngFor= "let tecnico of tecnicos" > {{tecnico.nombre || tecnico.apellido}} 

															</mat-option>

														</mat-select>
													
											</mat-form-field>
	
												
												<mat-form-field>
														<textarea rows="3" value="{{obs}}" disabled cols="100" matInput placeholder="Observacion"></textarea>
													</mat-form-field>

											
													<mat-form-field class="example-full-width text-dark">
															<input matInput value="{{estado}}"  placeholder="Estado" disabled="">
															
													</mat-form-field>
											
		
</form>
</mat-step>

		
		<mat-step [stepControl]="secondFormGroup">	

	<form [formGroup]="secondFormGroup" class="example-container">
			<ng-template matStepLabel>Observaciones Adicionales</ng-template>
						<mat-form-field >
						<textarea formControlName="obs_tecnica" rows="5" cols="600" matInput placeholder="Observacion Tecnica"></textarea>
						</mat-form-field>

						<mat-checkbox>Conceder Acceso</mat-checkbox>
						


	</form>

</mat-step>
</mat-horizontal-stepper>
</mat-card>

	
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

	



