


img-sgiros{

background-image: url('../../../../assets/res/supergiros.gif');
height: 270px;
width: 254px;

}

.center{
  padding: 10% 40%;

}
.center-text{

  
  padding: 0px 45%;


}

